<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Booking Confirmation</title>
  </head>

  <body>
    <h1>Applicants Data</h1>
    <div>
      <strong>Name: </strong><%- name %><br />
      <strong>Email Address: </strong><%- email %><br />
      <strong>Passenger Count: </strong><%- passengerCount %><br />
      <strong>Train: <br /></strong><%- train %><br />
      <strong>Luggage Count: <br /></strong><%- luggageCount %><br />
      <strong>Description: <br /></strong><%- description %><br />
      <strong>ID: <br /></strong><%- id %><br />
      <hr />
      <strong>Thank you for your reservation</strong>
      <hr />
    </div>
    <a href="/">Return to Home</a>
    <a href="/viewTrains">Find Trains</a>
  </body>
</html>
